*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

@font-face {
  font-family: 'Fink Heavy';
  src: url('../assets/fonts/FinkHeavy.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Fink Heavy';
  src: url('../assets/fonts/FinkHeavy.ttf') format('truetype');
}

@font-face {
  font-family: 'Rodin Bokutoh';
  src: url('../assets/fonts/FOT-RodinBokutoh Pro EB.otf') format('opentype');
}

@font-face {
  font-family: 'Seurat';
  src: url('../assets/fonts/FOT-Seurat Pro B.otf') format('opentype');
}

body {
  min-height: 100vh;
  color: #907c57;
  /* background: linear-gradient(#49c1fe, #4dc6ff, #53d0fe, #5bd9ff);*/
  background-color: #80C9A4;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.5;
  font-family:
    'Rodin Bokutoh',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  cursor: url('/path/to/your/cursor-image.png'), auto;
}