*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

@font-face {
  font-family: 'Fink Heavy';
  src: url('../assets/fonts/FinkHeavy.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Fink Heavy';
  src: url('../assets/fonts/FinkHeavy.ttf') format('truetype');
}

@font-face {
  font-family: 'Rodin Bokutoh';
  src: url('../assets/fonts/FOT-RodinBokutoh Pro EB.otf') format('opentype');
}

@font-face {
  font-family: 'Seurat';
  src: url('../assets/fonts/FOT-Seurat Pro B.otf') format('opentype');
}

body {
  min-height: 100vh;
  color: #907c57;
  background: linear-gradient(
    #2761f8,
    #2761f6,
    #3472f6,
    #4185f5,
    #4792F4,
    #5BAAF4);
  /* background-image: url("../assets/images/wallpaper.jpg"); */
  background-repeat: repeat;
  background-size: auto;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.5;
  font-family:
    'Rodin Bokutoh',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}